@font-face {
    font-family: letra;
    src: url(/Font/Shine\ in\ Valentine.ttf);
}
@font-face {
    font-family: letra2;
    src: url(/Font/Anybody-Italic-VariableFont_wdth\,wght.ttf);
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --color-font: #4f494b;
    --color-body: #a5a5a5;
    --color-sections: #cccccf;
    --color-boxShadow: #828282;
    --color-hoverHabs: #a5a5a5;

    --color-uno: #a5a5a5;
    --color-uno_font: #4f494b;
    --color-uno_section: #cccccf;
    --color-uno_box: #828282;
    --color-uno_hover: #828282;

    --color-dos: #8ea48b;
    --color-dos_font: #324d3e;
    --color-dos_section: #becfbb;
    --color-dos_box: #728a6e;
    --color-dos_hover: #728a6e;

    --color-tres: #dbc2ad;
    --color-tres_font: #a18167;
    --color-tres_section: #e9d3c0;
    --color-tres_box: #a18167;
    --color-tres_hover: #a18167;

    --color-cuatro: #dbbcdf;
    --color-cuatro_font: #916496;
    --color-cuatro_section: #f4e3f6;
    --color-cuatro_box: #bc8bc2;
    --color-cuatro_hover: #bc8bc2;
}
body{
    background-color: var(--color-body);
}
#menu{
    position: fixed;
    display: flex;
    align-items: center;
    width: 98%;
    height: 7vh;
    justify-content: space-between;
    font-size: 1.8vw;
    margin-left: 2vw;
    z-index: 1;
    backdrop-filter: blur(40px);
}
#img{
    width: 1.3vw;
    margin-right: 12px;
}
a{
    text-decoration: none;
    font-family: letra;
    margin: 0 35px;
    display: flex;
    align-items: center;
    color: var(--color-font);
}
#menu a:hover{
    text-decoration: underline rgb(88, 5, 5);
}
#inicio{
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
    padding-top: 7vw;
}
#inicio2{
    width: 90%;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#inicio2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
@keyframes show{
    from{
        opacity: 0;
        scale: 10%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
#inicio2 p{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    font-size: 1.5vw;
    display: flex;
    color: var(--color-font);
    gap: 4vw;
    padding: 0.5vw;
    font-family: letra2;
}
#imag{
    width: 19vw;
    height: 26vw;
    border-radius: 10%;
    filter: drop-shadow(50px 20px 5px var(--color-boxShadow));
}
#hi{
    margin-top: -3vw;
}
#hi a{
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    color: var(--color-font);
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    padding: 0.5vw;
    font-size: 1.5vw;
}
#hi a:hover{
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
}
#b{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    white-space: nowrap;
    color: var(--color-font);
    display: flex;
    padding: 1vw;
    font-family: letra;
}
#b span{
    display: inline-block;
    transform-origin: center;
    opacity: 0;
    animation: voltear 1s ease-in-out forwards;
}
#b span:nth-child(1) {animation-delay: 0.1s;}
#b span:nth-child(2) {animation-delay: 0.2s;}
#b span:nth-child(3) {animation-delay: 0.3s;}
#b span:nth-child(4) {animation-delay: 0.4s;}
#b span:nth-child(5) {animation-delay: 0.5s;}
#b span:nth-child(6) {animation-delay: 0.6s;}
#b span:nth-child(7) {animation-delay: 0.7s;}
#b span:nth-child(8) {animation-delay: 0.8s;}
#b span:nth-child(9) {animation-delay: 0.9s;}
#b span:nth-child(10) {animation-delay: 0.10s;}
#b span:nth-child(11) {animation-delay: 0.11s;}
@keyframes voltear {
    0% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}
#about{
    width: 100%;
    height: 66vh;
    display: flex;
    justify-content: center;
    padding-top: 7vw;
}
#about2{
    width: 90%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#about2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
#text{
    width: 36vw;
    height: 30vw;
    display: flex;
    font-size: 1.4vw;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: letra2;
}
#me{
    width: 20vw;
    height: 26vw;
    border-radius: 40%;
    filter: drop-shadow(50px 20px 5px var(--color-boxShadow));
}
#mis{
    font-size: 4vw;
    color: var(--color-font);
    font-family: letra;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lenguajes{
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
    padding-top: 7vw;
}
#lenguajes2{
    width: 90%;
    height: 76vh;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#lenguajes2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
#lengs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    width: 60%;
    margin-left: 17.5vw;
    margin-top: 2vw;
}
#leng1:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
    background-color: var(--color-hoverHabs);
}
#leng1{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    object-fit: cover;
    width: 8vw;
    height: 8vw;
    font-size: 1vw;
    font-family: letra2;
    margin-top: 7vw;
    margin: 3px;
    box-shadow: 0 0 10px 5px var(--color-hoverHabs);
    border-radius: 2vw;
}
#img1{
    width: 5.4vw;
    margin-bottom: 0.6vw;
}
#img2{
    width: 5vw;
    margin-bottom: 0.5vw;
}
#img3{
    width: 6vw;
    margin-bottom: 0.2vw;
}
#img4{
    width: 6vw;
}
#img5{
    width: 6vw;
    margin-bottom: 0.4vw;
}
#img6{
    width: 5.5vw;
    margin-bottom: 0.8vw;
}
#img7{
    width: 5.4vw;
    margin-bottom: 0.6vw;
}
#img8{
    width: 5vw;
    margin-bottom: 0.9vw;
}
#proyectos{
    width: 100%;
    height: 46vh;
    padding-top: 7vw;
}
#proyectos:hover{
    height: auto;
}
#proyectos2{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    width: 90%;
    height: 36vh;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#proyectos2:hover{
    height: 74vh;
    transition: 0.3s ease-in-out;
}
#proyectos2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.tarjeta{
    position: relative;
    max-width: 250px;
    height: 150px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0, 5);
    transition: 0.3s ease-in-out;
    top: 4vw;
}
.tarjeta:hover{
    height: 420px;
    
}
.tarjeta .image{
    position: relative;
    width: 150px;
    height: 170px;
    top: -60px;
    left: 15px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
}
.tarjeta .image img{
    max-width: 100%;
    border-radius: 4px;
}
.tarjeta .text{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-size: 1.1vw;
    width: 10vw;
}
.tarjeta:hover .text{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.tarjeta:hover .text a{
    justify-content: center;
    font-size: 1.5vw;
    width: 8vw;
    height: 2vw;
    background-color: white;
    border-radius: 1vw;
    margin-top: 1vw;
    margin-left: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
}
/*#proyc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    gap: 16px;
    width: 100%;
    height: 50vh;
}
#proyc li{
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    cursor: pointer;
    border: 1px solid black;
    width: 100%;
    height: 20vw;
    border-radius: 2vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
}
#proyc li img{
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
}
#proyc li, #proyc li img{
    transition: 0.3s;
}
#proyc li #pro{
    transition: 1.5s ease;
}
#proyc span{
    text-align: center;
    width: 75%;
}
#proyc a{
    font-weight: 100;
    font-size: 20px;
    line-height: 4px;
    margin-bottom: 18px;
    white-space: nowrap;
    color: black;
    margin-top: -7vw;
    margin-left: 5vw;
}
#proyc p{
    color: black;
    font-size: 1vw;
    width: 100%; 
}
#proyc li #pro{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: black;
    padding: 15px;
    background: linear-gradient(0deg, var(--color-boxShadow) 10%, rgb(255 255 / 0%) 100%);
    opacity: 0;
    visibility: hidden;
}
#proyc:hover{
    gap: 2vw;
}
#pro span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}
#proyc li:hover{
    flex: 0 1 360px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}
#proyc li:hover #pro{
    opacity: 1;
    visibility: visible;
}
#proyc li:hover div span{
    scale: 1;
    opacity: 1;
    visibility: visible;
    color: black;
}*/
#habilidades{
    width: 100%;
    height: 50vh;
    padding-top: 7vw;
}
#habilidades2{
    margin-left: 5vw;
    width: 90%;
    height: 50vh;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#habilidades2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
#habs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 2vw;
}
#hab1{
    display: flex;
    text-align: center;
    flex-direction: column;
    object-fit: cover;
    width: 12vw;
    height: 10vw;
    font-size: 1vw;
    font-family: letra2;
    box-shadow: 0 0 10px 5px var(--color-hoverHabs);
    border-radius: 2vw;
    margin: 3px;
}
#hab1:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
    background-color: var(--color-hoverHabs);
}
#habs p{
    font-size: 1.2vw;
    margin-top: 1.3vw;
}
#images1{
    margin-left: 3vw;
    margin-top: 0.5vw;
    width: 6vw;
}
#images2{
    margin-left: 2.6vw;
    margin-top: -0.4vw;
    width: 6.5vw;
}
#images3{
    margin-left: 3.5vw;
    margin-top: 0.4vw;
    width: 6.2vw;
}
#images4{
    margin-left: 3vw;
    margin-top: 0.4vw;
    width: 6vw;
}
#images5{
    margin-left: 3.5vw;
    margin-top: 0.2vw;
    width: 5.5vw;
}
#contacto{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 7vw;
    font-size: 2vw;
    padding-top: 5vw;
}
#conts a{
    color: black;
    font-family: letra2;
}
#contacto2{
    width: 90%;
    height: 50vh;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    background-color: var(--color-sections);
    object-fit: cover;
}
#contacto2{
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
#conts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: -15vw;
    margin-left: -40vw;
}
#git, #link, #ins{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    object-fit: cover;
    width: 8vw;
    height: 7vw;
    font-size: 1vw;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    border-radius: 2vw;
    margin-top: 1vw;
}
#git:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
    background-color: var(--color-hoverHabs);
}
#link:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
    background-color: var(--color-hoverHabs);
}
#ins:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
    background-color: var(--color-hoverHabs);
}
#footer{
    width: 100%;
    height: 2vw;
    background-color: var(--color-boxShadow);
    color: var(--color-font);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-family: letra2;
    font-size: 0.8vw;
}
#imgs{
    width: 4.5vw;
}
.colores{
    position: fixed;
    top: calc(100vh - 140px - 10%);
    left: calc(100vw - 60px);
    width: 40px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.colores div{
    width: 30px;
    height: 30px;
    border-radius: 1vw;
    border: none; 
}
.color1{
    background-color: var(--color-uno); 
}
.color2{
    background-color: var(--color-dos);  
}
.color3{
    background-color: var(--color-tres);  
}
.color4{
    background-color: var(--color-cuatro);  
}
#form{
    width: 30vw;
    height: 15vw;
    margin-left: 50vw;
    margin-top: 2vw;
}
#inp{
    width: 24vw;
    height: 2vw;
    position: relative;
    left: 1vw;
    border-radius: 1vw;
    border: none;
}
#inp1{
    width: 24vw;
    height: 2vw;
    position: relative;
    left: 1.3vw;
    border-radius: 1vw;
    border: none;
}
#inp2{
    position: relative;
    top: 0.6vw;
    left: 0.9vw;
    width: 24vw;
    height: 2.2vw;
    border-radius: 1vw;
    border: none;
}
#inp2::placeholder{
    position: relative;
    top: 0.5vw;
}
#font{
    font-size: 1vw;
    font-family: letra2;
}
#fontB{
    position: relative;
    top: 1vw;
    left: 14vw;
    font-size: 1.2vw;
    width: 6vw;
    height: 2vw;
    background-color: white;
    box-shadow: 0 0 10px 5px var(--color-boxShadow);
    border: none;
    border-radius: 2vw;
}