@font-face {
    font-family: letra;
    src: url(/Font/Shine\ in\ Valentine.ttf);
}
@font-face {
    font-family: letra2;
    src: url(/Font/Anybody-Italic-VariableFont_wdth\,wght.ttf);
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbbcdf;
}
#menu{
    position: fixed;
    display: flex;
    align-items: center;
    width: 98%;
    height: 7vh;
    justify-content: space-between;
    font-size: 2vw;
    margin-left: 2vw;
}
#img{
    width: 1.3vw;
    margin-right: 12px;
}
a{
    text-decoration: none;
    font-family: letra;
    margin: 0 35px;
    display: flex;
    align-items: center;
    color: white;
}
#menu a:hover{
    text-decoration: underline rgb(88, 5, 5);
}
#inicio{
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    padding-top: 7vw;
}
#inicio2{
    width: 90%;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px 5px #916496;
    background-color: #f4e3f6;
}
#inicio2 p{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    font-size: 1.5vw;
    display: flex;
    color: #916496;
    gap: 4vw;
    padding: 0.5vw;
    font-family: letra2;
}
#imag{
    width: 19vw;
    height: 26vw;
    border-radius: 10%;
    filter: drop-shadow(50px 20px 5px #bc8bc2);
}
#hi{
    margin-top: -3vw;
}
#hi a{
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    color: #916496;
    box-shadow: 0 0 10px 5px #bc8bc2;
    padding: 0.5vw;
    font-size: 1.5vw;
}
#hi a:hover{
    box-shadow: 0 0 10px 5px #86728b;
}
#b{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    white-space: nowrap;
    color: #916496;
    display: flex;
    padding: 1vw;
    font-family: letra;
}
#b span{
    display: inline-block;
    transform-origin: center;
    opacity: 0;
    animation: voltear 1s ease-in-out forwards;
}
#b span:nth-child(1) {animation-delay: 0.1s;}
#b span:nth-child(2) {animation-delay: 0.2s;}
#b span:nth-child(3) {animation-delay: 0.3s;}
#b span:nth-child(4) {animation-delay: 0.4s;}
#b span:nth-child(5) {animation-delay: 0.5s;}
#b span:nth-child(6) {animation-delay: 0.6s;}
#b span:nth-child(7) {animation-delay: 0.7s;}
#b span:nth-child(8) {animation-delay: 0.8s;}
#b span:nth-child(9) {animation-delay: 0.9s;}
#b span:nth-child(10) {animation-delay: 0.10s;}
#b span:nth-child(11) {animation-delay: 0.11s;}
@keyframes voltear {
    0% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}
#about{
    width: 100%;
    height: 100vh;
}